/* OUTLINE NAV */

.nav-wrapper {
  position: relative;
  height: 48px;
  width: fit-content;
}

.nav-container {
  position: relative;
  height: 48px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 32px;
  background: #f5f7fb;
  border-radius: 999px;
}

/* NAV BUTTON */
.nav-btn {
  position: relative;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #0b1c3f;
  cursor: pointer;
  z-index: 2;
  transition: color 0.3s ease;
}

.nav-btn:hover {
  color: #6a5ae0;
}

/* SVG OUTLINE */
.outline {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.rect {
  fill: none;
  stroke: #6a5ae0;
  stroke-width: 2;
  stroke-dasharray: 0 0 10 40 10 40;
  stroke-dashoffset: 5;
  transition: 0.5s ease;
}

/* HOVER LOGIC */
.nav-container:hover .rect {
  stroke-dasharray: 0;
  stroke-dashoffset: 1;
}

/* INDIVIDUAL LINK POSITION */
.nav-btn:nth-child(1):hover ~ .outline .rect {
  stroke-dasharray: 0 8 8 100 8 136;
}

.nav-btn:nth-child(2):hover ~ .outline .rect {
  stroke-dasharray: 0 72 8 100 8 68;
}

.nav-btn:nth-child(3):hover ~ .outline .rect {
  stroke-dasharray: 0 150 8 100 8 0;
}
